.header-container {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  border: 1px solid red;
  width: 100%;
}

.header-link {
  text-decoration: none;
  font-weight: 600;
  color: rgb(85, 122, 11);
}
