.content {
  position: relative;
  margin-top: 20px;
  margin-bottom: auto;
}
.bg-container {
  position: relative;
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  background-image: url("../../images/a.jpg");
  background-size: cover;
}
.bg-container::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(232, 237, 243, 0.712);
}
